<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Горки Ленинские{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}

    {% block content %}{% endblock %}

    {% include 'footer.html' %}

    {% block extra_js %}{% endblock %}
</body>
</html>