<!-- Header -->
<header class="header">
    <!-- Logo -->
    <a href="{{ url_for('homepage') }}" class="logo"></a>
    <!-- List Icon (Иконка списка)-->
    <div class="list-icon"></div>
    <!-- Search Icon (Иконка поиска)-->
    <div class="search-icon"></div>
    <!-- Chevron Icon (Иконка стрелки)-->
    <div class="chevron-icon"></div>
    <!-- RU Language Selector (Выбор языка)-->
    <div class="language-ru">RU</div>
    <!-- Buy Ticket Button (Кнопка купить билет)-->
    <a href="{{ url_for('order') }}" class="buy-ticket">Купить билет</a>
</header>