{% extends "base.html" %}

{% block title %}Афиша - Горки Ленинские{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/Poster.css') }}">
{% endblock %}

{% block content %}

    <!-- Main Content -->
    <main class="poster-page">
        <!-- Page Title -->
        <h1 class="afisha-title">Афиша</h1>

        <!-- Group 13 - Левая верхняя карточка -->
        <div class="group-13">
            <div class="rectangle-12"></div>
            <div class="image" style="background-image: url('../static/images/img/Король_и_звезда_09.jpg');"></div>
            <div class="button">
                <div class="button-text">Подробнее</div>
            </div>
        </div>

        <!-- Group 12 - Правая верхняя карточка -->
        <div class="group-12">
            <div class="rectangle-8"></div>  
            <div class="image" style="background-image: url('../static/images/img/заповедное_А3_арка.jpg');">
            </div>
            <div class="button">
                <div class="button-text">Подробнее</div>
            </div>
        </div>

        <!-- Group 14 - Левая нижняя карточка -->
        <div class="group-14">
            <div class="rectangle-15"></div>
            <div class="image" style="background-image: url('../static/images/img/Утро_ЛЕС.jpg');"></div>
            <div class="button">
                <div class="button-text">Подробнее</div>
            </div>
        </div>

        <!-- Group 15 - Правая нижняя карточка -->
        <div class="group-15">
            <div class="rectangle-14"></div>
            <div class="image" style="background-image: url('../static/images/img/повседневная_жизнь.jpg');"></div>
            <div class="button">
                <div class="button-text">Подробнее</div>
            </div>
        </div>
    </main>

{% endblock %}